html, body{
  margin: 0;
  padding: 0;
}
.holder{
    background-color:#2a6797;
}
.back{
  background-size: 100% 100%;
  background-color:#cccccc;

}
.turns{
  border-style: solid;
  background-color: gold;
}
.hoo1{

    font-size: 100px;
    text-align: right;
    color: white;
}
.textbox{

    position: relative;
    left: 10px;
    background-color: darkgreen;
}
.right menu{
  
    color: black;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: absolute;
    height: 100%;
    overflow: auto;
  }
.containeradmin{
    text-align: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #51ff57;
}
.gbwinner{
  text-align: center; border-radius: 50%;border: 1px solid #780800; margin: 0px; background:yellow; color:black;
}
.gbp2{
  text-align: center; border-radius: 50%;border: 1px solid #780800; margin: 0px; background:blue; color:white;
}
.gbp1{
  text-align: center; border-radius: 50%;border: 1px solid #780800; margin: 0px; background:red; color:white;
}
.button{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
  .coin{
      padding: 16px;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
.centeroo{
  text-align: center;
}
.centerooRed{
  text-align: center;
  color:white;
}
.divred{
  border:1px solid darkred;
  height: 70px; width: 200px; padding: 5px; margin-top: 50px; float: left; font-size:18px; background:red;

}
.gameboard{
  border-radius: 10%; border:1px solid black;
  height: 500px; width: 350px; padding: 5px; margin: 5px; float: left; font-size:18px; background:black;
}
.imageboard{
  border-radius: 10%; border:1px solid black;
  height: 200px; width: 300px; padding: 5px; margin: 5px; float: left; font-size:18px; background:black;
}
.invis{
  border:none;
  opacity: 0;
}
.startgame{
  width:200px;
  height:100px;
  z-index: 0;
  background-color: yellow;
}
.startgame:hover{
  background-color: gold;
}
.divred:hover{
  background-color: darkred;
}
.divblue{
  border:1px solid darkblue;
        height: 70px; width: 200px; padding: 5px; margin-top: 50px; float: left; font-size:18px; background:blue;
}
.divblue:hover{
  background-color: darkblue;
}
.undertitle{
  color:white; 
  font-size: 20px;
  text-align: center;
  opacity:20%;
}
.title{
  color:#ff9623; 
  font-size: 50px;
  text-align: center;
}
.tp1{
  text-align: center;
}
.tp2{
  text-align: right;
}

.box-table{
  text-align: center; 
  border-radius: 25px;
  border: 5px solid #2a6797; 
  margin: 0px; 
  background:whitesmoke; 
  color:black;
  width:800px;
  margin-left: 25%;
}

.box-table2{
  text-align: center; 
  border-radius: 25px;
  border: 5px solid #2a6797; 
  margin: 0px; 
  background:whitesmoke; 
  color:black;
  width:800px;
  margin-left: 24%;
}
.box-link{

  border-radius: 25px;
  border: 5px solid #2a6797; 
  margin: 0px; 
  background:#ff9623; 
  width:500px;
  margin-left: 20%;
  
}
.box-terug{
  text-align: center;
  border-radius: 25px;
  border: 5px solid #2a6797; 
  margin: 0px; 
  background:#ff9623; 
  width:500px;
  margin-left: 35%;
}
.whitetext{
  text-align: center; 
  color:whitesmoke;
}
.box-schools{
  text-align: center; 
  border-radius: 25px;
  border: 5px solid #2a6797; 
 
  background:whitesmoke; 
  color:black;
  float: left;
  width: 600px;
    clear: none; 
    margin-left: 5%;
  
}
.box-schools-form{
  text-align: center; 
  border-radius: 25px;
  border: 5px solid #2a6797; 
  width:700px;
  background:whitesmoke; 
  color:black;
  margin-left:50%
}
.box-players{
  border-radius: 25px; 
  border: 3px solid #2a6797;
  height: 200px; width: 450px; padding: 5px; margin: 10px; float: left;
  background:whitesmoke; 
}
.box-toernooien{
  border-radius: 25px; 
  border: 3px solid #2a6797;
  height:250px;
 width: 450px; padding: 5px; margin: 10px; float: left;
  background:whitesmoke; 
}

.box-wedstrijden{
  border-radius: 25px; 
  border: 3px solid #2a6797;
 width: 450px; 
 height:600px;padding: 5px; margin: 10px; float: left;
  background:whitesmoke; 
  
}
.box-wedstrijden2{
  border-radius: 25px; 
  border: 3px solid #2a6797;
 width:230px; 
 padding: 10px; margin: 2px; float: left;
  background:whitesmoke; 
  
}
.box-wedstrijden-dark{
  border-radius: 25px; 
  border: 3px solid #2a6797;
  width: 450px; 
 height:600px;padding: 5px; margin: 10px; float: left;
  background:rgba(78, 72, 72, 0.442); 
  
}
.text-input{
  width:300px;
  height:80px;
  font-size: 25px;
}
.text-input-large{
  width:500px;
  height:500px;
  font-size: 25px;
}
.text-input2{
  width:300px;
  height:50px;
  font-size: 25px;
}
.text-input3{
  width:100px;
  height:50px;
  font-size: 25px;
}

.white-box{
  background:white;
  border: 2px solid black;
  width:400px;
  margin-left: 20%;
  
}
.submit-btn{
  border-radius: 25px;
  border: 2px solid #2a6797; 
  background-color: #ff9623;
  color:white;
  font-size: 25px;
  text-align: center;
}
.submit-btn2{
  border-radius: 25px;
  border: 2px solid #2a6797; 
  background-color: #ff9623;
  color:white;
  font-size: 25px;
  width:200px;
}
.submit-btn3{
  border-radius: 25px;
  border: 2px solid #2a6797; 
  background-color: #ff9623;
  color:white;
  font-size: 25px;
  width:200px;
  margin-left: 37.5%;
}
.submit-btn4{
  border-radius: 25px;
  border: 2px solid #2a6797; 
  background-color: #ff9623;
  color:white;
  font-size: 25px;
  width:500px;
  height: 100px;
  margin-left: 37.5%;
}
.checkBox{
  width:50px;
  height:50px;
  margin-left: 40%;
}

.green{
  text-align: center;
  color:rgb(1, 224, 1);
}
.red{
  text-align: center;
  color:rgb(123, 3, 3);
}

.box-round{
  height:555px;
  overflow-y: scroll;
  overflow-x: hidden;
  width:253px;
  float:left;
}

.ronde{
  top: 0;
  position: sticky;
  background-color:#cccccc;
}